body {
    font-family: Arial, sans-serif;
    padding: 20px;
}


.box {
    width: 250px;
    background-color: #f5f5f5;
}


.box1 {
    margin: 20px;
    padding: 15px;
    border: 2px solid blue;
}


.box2 {
    margin: 30px;
    padding: 20px;
    border: 4px dashed green;
}


.box3 {
    margin: 40px;
    padding: 25px;
    border: 5px dotted red;
}
