body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 40px;
}


.card {
    width: 300px;
    height: 400px;
    background: #ffffff;
    border: 3px ridge #bfbfbf;      /* Subtle border style (NOT SOLID) */
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
}


.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.title {
    margin: 12px 0 6px;
    font-size: 20px;
}


.desc {
    color: #555;
    font-size: 14px;
    flex-grow: 1;    /* pushes button to bottom */
}


.btn {
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background-color: #005fcc;
}
