
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1000;        \

.logo {
    font-size: 22px;
    font-weight: bold;
}


.nav-links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 16px;
}


.nav-links a:hover {
    color: yellow;
}

 header) */
.content {
    margin-top: 100px;
    padding: 20px;
}
